<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/Dashboard/dash.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/Home/home.css">
<link rel="stylesheet" href="home1.css">
<script src="/Dashboard/dash.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
body {
    font-family: "Lato", sans-serif;
}
.logo{
  color: white !important;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
</style>
<body class="home">
  <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>


<script>
function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

</script>
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <h2>{{name}}</h2>
                </div>
                <div class="navi">
                    <ul>
                        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="#showcase"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Showcase</a></li>
                        <li><a href="#application"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Application Status</a></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Have a question? Forum</a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span>Chat with Expert</a></li>
                        <li><a href="#contact"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Contact Us</span></a></li>
                        <li><a href="/logout"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
                    </ul>
                </div>
            </div>




            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <img src="/Home/1.png"  align="left" width="50px" height="50px"><b><h2>Pension and Life Insurance Web Portal</b></h2>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <a href="/logout">LOGOUT</a>
                                    <li><a href="mailto:claytonpereira1998@gmail.com?subject=Hello&body=body" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li>

                                      <button class="openbtn" onclick="openNav()">☰ Notification</button>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{image}}" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>JS Krishna</span>
                                                    <p class="text-muted small">
                                                        me@jskrishna.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">

                    <h1>Welcome Back, <b>{{name}}</b></h1><h4>Last Login:{{login}}</h4>
                    <h4>SignUP :{{signup}}</h4>
                    <button type="button" class="btn btn-danger" name="button"><a href="/user/Pension/applicationIdentity">Fill Application Form</a></button><br><br>
                    <form class="" action="/apply/Pension" method="post">
                    <button  type="submit" class="btn btn-primary" name="button">Apply For Pension</button>
                    </form>&nbsp&nbsp&nbsp
                    <form class="" action="/apply/Insurance" method="post">
                    <button  type="submit" class="btn btn-primary" name="button">Apply For Insurance</button>
                    </form>


                    <!-- <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                            <div class="sales">
                                <h2>Your Sale</h2>

                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Period:</span> Last Year
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">2012</a>
                                        <a href="#">2014</a>
                                        <a href="#">2015</a>
                                        <a href="#">2016</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                            <div class="sales report">
                                <h2>Report</h2>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>Period:</span> Last Year
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">2012</a>
                                        <a href="#">2014</a>
                                        <a href="#">2015</a>
                                        <a href="#">2016</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!---Start of content-->
                    <!-- Showcase--->
                    <div>
                      <h1 class="w3-xxxlarge" id="showcase"><b>Showcase.</b></h1>

                    </div>

                    <!-- Photo grid (modal) -->
                    <div class="w3-row-padding">

                        <p><h3>With a view to bring into existence a centrally controlled administered mechanism involving Pensioners Associations in the country, the Pensioners' Portal would function as a single window mechanism

                    The  department  of Pension & Pensioners'  Welfare  is  the nodal department  for  formulation of policies  relating  to pension & other retirement benefits of Central Government Pensioners/Family Pensioners. It also serves as a forum for redress of Pensioners' Grievances
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </h3></p>
                    </div>err
                    <img src="/Dashboard/showcase.jpg" height="500px" width="50%"alt="">
                    <div>
                      <h1 class="w3-xxxlarge" id="application"><b>Application Status:</b></h1>

                    </div>

                    <!-- Photo grid (modal) -->
                    <div class="w3-row-padding">
                      <h3 class=""><b>Status : <b class="w3-text-red"> {{status}} </b><br>
                        Total Pension Quotas: <b class="w3-text-red"> {{status}} </b><br>
                        Pension Application Filled : <b class="w3-text-red"> {{status}} </b><br>
                        Pension Application Issued : <b class="w3-text-red"> {{status}} </b><br>
                        Form Status : <b class="w3-text-red"> {{form_status}} </b><br>
                        Form Status-Personal Details : <b class="w3-text-red"> {{form_personal}} </b><br>
                        Form Status-Identity Proof : <b class="w3-text-red"> {{form_id}} </b><br>
                        Form Status-Address Details : <b class="w3-text-red"> {{form_add}} </b><br>
                        Form Status-Work & Bank Details : <b class="w3-text-red"> {{form_bank}} </b><br> </b></h3>

                    </div>

                    <!-- Contact -->
                    <div class="w3-container" id="contact" style="margin-top:75px">
                      <h1 class="w3-xxxlarge "><b>Contact.</b></h1>
                      <h2>
                      <p>Do you want us to style your home? Fill out the form and fill me in with the details <br>  We love meeting new people!</p></h2>
                      <form action="/home" method="post" >
                        <div class="w3-section">
                          <label>Name</label>
                          <input class="w3-input w3-border" type="text" name="Name" required>
                        </div>
                        <div class="w3-section">
                          <label>Email</label>
                          <input class="w3-input w3-border" type="text" name="Email" required>
                        </div>
                        <div class="w3-section">
                          <label>Message</label>
                          <input class="w3-input w3-border" type="text" name="Message" required>
                        </div>
                        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
                      </form
                </div>
            </div>
        </div>

    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>

</body>
