<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>National Pension Forum</title>
      <link rel="stylesheet" href="css/forum_style.css">
  </head>
  <body style=" font-family: sans-serif ;background-color:#dedede;">
      <img src="image/coverf.jpg" height="250" width="100%"alt="Error">


      <div class="forums">
        <h1 style=" margin-left: 150px;color:#4d5b70 ;font-family:sans-serif;">Defence Pensioners Forum</h1>
      </div>
      <div  class="cat"   style=" margin-left: 150px ;margin-right: 150px ;min-height: 400px;  background-color:white;">
        <table >
    {{#each list}}

            <tr>

                <td> <h3 > <a style="color:black; " href="/question?quno={{qno}}&quest={{questions}}&who={{quser}}&atype={{type}}">{{questions}}</a> </h3> </td>
                <td>-{{quser}}</td>
            </tr>

     {{/each}}
</table>
      </div>

  </body>
</html>
